@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Rubik+Maze&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #1D1F20;
    font-family: 'Roboto', sans-serif;
}

.white-theme {
    background: white;
}

label {
    font-size: 25px;
    font-family: 'Kalam', cursive;
    /*font-family: 'Rubik Maze', cursive;*/
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 7px;
}

#icon {
    font-size: 2.5rem !important;
}

#ct {
    height: auto;
    width: 370px;
    border: 1px solid #f1c40f;
    margin: 100px auto;
    text-align: center;
    position: relative;
    color: #fff;
    padding: 15px;
}

span {
    background: #1D1F20;
    color: #f1c40f;
    padding: 0 10px;
    font-size: 20px;
    position: relative;
    top: -28px;
}

.corner {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    background: #1D1F20;
}

#left_top {
    top: -16px;
    left: -16px;
    border-color: transparent transparent #f1c40f transparent;
}

#right_top {
    top: -16px;
    right: -16px;
    border-color: transparent transparent transparent #f1c40f;
}

#left_bottom {
    bottom: -16px;
    left: -16px;
    border-color: transparent #f1c40f transparent transparent;
}

#right_bottom {
    bottom: -16px;
    right: -16px;
    border-color: #f1c40f transparent transparent transparent;
}

p {
    padding-top: 13px;
    font-size: 18px
}

footer {
    bottom: 0;
    text-align: center;
    height: 50px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    color: #f1c40f;
}
