@using BibleTreasure.Models;
@model Treasures
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Bible Treasure</title>
    <meta name="description" content="Bible Treasure of the day">
    <meta name="keywords" content="C#, ASP.NET core, HTML,CSS">
    <meta name="author" content="PhilsKay">
    <link rel="shortcut icon" href="~/hicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <!--facebook Share plugin-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0&appId=575826043820954&autoLogAppEvents=1" nonce="iCyV6zg4"></script>
    @{
        string Url = "https://bibletreasure.herokuapp.com/";
    }
    <header id="header">
        <label style="color: white;">BibleTreasure</label>
        <nav>
            <div style="color: white;" class="px-md-3 px-0">
                <i class="fa-solid fa-toggle-off" id="icon"></i>
            </div>
        </nav>
    </header>
    @foreach (var item in Model.Results)
    {
        <div id="ct">
            <div class="corner " id="left_top"></div>
            <div class="corner" id="left_bottom"></div>
            <div class="corner" id="right_top"></div>
            <div class="corner" id="right_bottom"></div>
            <span>Treasure of the Day</span>
            <blockquote>
                <p><i>&ldquo;@item.Text&rdquo; </i></p>
            </blockquote>
            <div class="d-flex justify-content-between align-items-center">
                <p>
                    <small>
                        Scriptures:
                        @foreach (var scripture in item.Scriptures)
                        {
                            @scripture
                        }
                    </small>
                </p>
                <small>
                    <time>@DateTime.Now.DayOfWeek</time>
                </small>
            </div>
        </div>
    }
    <div>
        <p class="text-light text-center pb-4">
            Share with Friends
        </p>
        <div class="d-flex align-items-center  justify-content-center">
                 <!--Facebook share -->
            <div class="fb-like px-2" data-href="@Url" data-width="" data-layout="button" data-action="like" data-size="small" data-share="true">
            </div>
            <!--Whatsapp share -->
            <div class="pb-5 mb-3 px-3 me-0">
                <a  href="https://api.whatsapp.com/send?text=@Url" data-action="share/whatsapp/share">
                    <i class="fa-brands fa-whatsapp" id="whatsapp"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div id="footer">
            &copy; Bible Treasure - Designed by <a href="https://wa.me/message/TSXASQDEHJLUI1">PhilsKay</a>
        </div>
    </footer>
    <script src="/main.js"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
