<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Bible Treasure</title>
    <meta name="description" content="Bible Treasure of the day">
    <meta name="keywords" content="C#, ASP.NET core, HTML,CSS">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header id="header">
        <label style="color: white;">BibleTreasure</label>
        <nav>
            <div style="color: white;">
                <i class="fa-solid fa-toggle-off" id="icon"></i>
            </div>
        </nav>
    </header>
    <div id="ct">
        <div class="corner "id="left_top"></div>
        <div class="corner" id="left_bottom"></div>
        <div class="corner" id="right_top"></div>
        <div class="corner" id="right_bottom"></div>
        <span>Treasure of the Day</span>
        <blockquote>
          <p><i>&ldquo;Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam cumque maiores neque ea nesciunt eos natus sit sint delectus vero blanditiis, quae eum nihil error quam temporibus fuga voluptas, amet ut excepturi ratione omnis quo! Ducimus provident tenetur voluptatibus earum.&rdquo; </i></p>
        </blockquote>
        <div>
            <p><small>2 Timothy 4: 11</small> </p>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div id="footer">
            &copy; Bible Treasure - Designed by PhilsKay
        </div>
    </footer>
    <script src="/main.js"></script>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
